
/* 
a:link {
   text-decoration: none;
   color: rgb(93,126,127);
}

a:visited {
   color: #fff;
} */

#cv ul li a:hover {
   text-decoration:underline;


}

/* a:active {
   text-decoration:underline;
} */
