/*nav*/
* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  width: 1200px;
}

h1 {
   letter-spacing: 2px;
   margin:  5vh;
   width: 500px;
   text-transform: uppercase;
   font-family: 'Raleway', sans-serif;
   font-size: 30px;
}

.topmenu{
   position: absolute;
   right: 100px;
   top: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
   display: inline-block;
}

li a {
   margin: 10px auto;
   text-align: right;
   float: left;
   text-decoration: none;
   color: grey;
   padding: 10px 10px;
   width:50px;
   text-transform: lowercase;
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
}

li a:hover {
    color: black;
}

/*portfolio*/

@media (max-width: 1280px) {
  body {
    width: 800px;
  }
}
@media (max-width: 880px) {
  body {
    width: auto;
  }
}
nav, main, footer {
  border: 1px solid #000;
}

main {
  border: 0;
}

@media (max-width: 1280px) {
  main {
  }
}
.portfolio {
  line-height: 0;
}

@media (max-width: 1280px) {
  .portfolio {
    width: auto;
  }
}
.portfolio img {
   width: 400px;
   filter: opacity(1);
   cursor: pointer;
   transition: all .3s ease;
}

.portfolio img:hover {
   filter: opacity(.5);
}

@media (max-width: 1280px) {
  .portfolio img {
  }
}
@media (max-width: 880px) {
  .portfolio img {
    width: 100%;
  }
}

/*pages*/

.photography img {
  width: 45%;
  margin: 70px 100px 0px 600px;
  position: absolute;
}

.photography-2 img {
   width: 45%;
   margin: 500px 100px 0px 600px;
   position: absolute;
}

.photography-3 img {
   width: 45%;
   margin: 930px 100px 0px 600px;
   position: absolute;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-variant: normal;
  font-size: 30px;
  font-weight: 600;
  text-align:left;
  letter-spacing: 3px;
  color: black;
  padding-left: 50px;
  padding-top: 150px;
}

h3 {
   font-family: 'Raleway', sans-serif;
   font-variant: normal;
   font-size: 18px;
   font-weight: 600;
   text-align:left;
   letter-spacing: 3px;
   color: black;
   padding-left: 50px;
   padding-top: 20px;
}

p {
   font-family: 'Roboto', sans-serif;
   padding-top: 10px;
   margin: 0 800px 300px 50px;
   color: black;
   font-size: 15px;
   font-weight: 200;
   letter-spacing:1.2px;
   line-height:1.4;
 }




 .labels {
    text-transform: uppercase;
     font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: #000;
 }

 form {
    width:450px;
    margin:0 auto;
 }

 label {
    display:block;
    margin-top:20px;
    letter-spacing:1.5px;
 }


 input, textarea {
    width:439px;
    height:27px;
    background:#efefef;
    border-radius:5px;
    border:1px solid grey;
    padding:5px;
    margin-top:5px;
    font-size: 14px;
    color: grey;
 }

    input:focus, textarea:focus {
       border:1px solid #efefef;
    }

 textarea {
    height:200px;
    font-family: 'Roboto', sans-serif;
    background color: #efefef;
 }

 #send {
    width:150px;
    height:35px;
    text-indent:-8000px;
    border:none;
    margin-top:10px;
    cursor:pointer;
    background-color: #efefef;
    font-family: 'Raleway', sans-serif;
    border:1px solid grey;


 }
 #send:hover {
       opacity:0.5;
    }
